APP_NAME=Talk2Me CRM
APP_URL=https://uent.co.za/talk2me
BASE_PATH=/talk2me
NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=uent_talk2me_crm
DB_USER=uent_uent_talk2me_user
DB_PASSWORD=PUT_DATABASE_PASSWORD_HERE

SESSION_SECRET=change_this_to_a_long_random_secret
